/* Imports */
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

/* Basic HTML Tags */
body {
    font-family: 'Lato', sans-serif !important;
}

/* Bootstrap classes */
.navbar {
    min-height: 100px;
    font-size: 28px;
}

.nav-item {
    padding: 15px;
}

/* Social Icons */
ul.social {
    display: inline;
    list-style: none;
    margin-left:0;
    padding: 0;
}
ul.social li {
    display: inline;
    margin: 0 6px;
}

.facebook:hover {
    background-color: #3B5998;
}

.instagram:hover {
    background-color: #bd3799;
}

.social .facebook:hover i, .social .instagram:hover i {
    color:#afafaf;
}

.social-circle li a i {
    display:inline-block;
    position:relative;
    margin:0 auto 0 auto;
    text-align:center;
    width: 50px;
    height: 50px;
    font-size:20px;
    background-color: #afafaf;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
}
.social-circle li i {
    margin:0;
    line-height:50px;
    text-align: center;
}

.social-circle i {
    color: #fff;
}

/* Other classes */
.navbar-yellow {
    background-color: #F8D76E;
    font-weight: bold;
}

/* IDs */
#login-button {
    border-style: solid;
    border-width: 5px;
    border-color: #F8D76E #F8D76E #F8D76E #5DBCD2;
    padding: 3px;
}

/* Media conditions */
@media screen and (max-width: 600px) {
    .navbar {
        min-height: 100px;
        font-size: 12px;
    }

    .nav-item {
        padding: 5px 0;
    }

    #login-button {
        border-width: 0;
        padding: 5px 0;
    }
}
