/* Imports */
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

/* Basic HTML Tags */
body {
    font-family: 'Lato', sans-serif !important;
}

h1 {
    color: white;
    font-weight: bold !important;
    margin: 15px !important;
    text-transform: uppercase;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #b4b4b4;
}

/* Bootstrap classes */
.navbar {
    min-height: 100px;
    font-size: 28px;
}

.nav-item {
    padding: 15px;
}

.nav-text {
    color: white !important;
    font-weight: bold !important;
    letter-spacing: 0.15em;
    display: inline-block;
    position: relative;
}


.nav-text:after {
    background: #fff;
    bottom: 0;
    content: "";
    display: block;
    left: 50%;
    height: 2px;
    position: absolute;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.nav-text:hover:after {
    width: 100%;
    left: 0;
}


/* Social Icons */
ul.social {
    display: inline;
    list-style: none;
    margin-left:0;
    padding: 0;
}
ul.social li {
    display: inline;
    margin: 0 6px;
}

.facebook:hover {
    background-color: #3B5998;
}

.instagram:hover {
    background-color: #bd3799;
}

.social .facebook:hover i, .social .instagram:hover i {
    color: #afafaf;
}

.social-circle li a i {
    background-color: #afafaf;
    border-radius:50%;
    display: inline-block;
    font-size:20px;
    height: 50px;
    text-align: center;
    margin: 0 auto 0 auto;
    position: relative;
    width: 50px;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
}
.social-circle li i {
    line-height:50px;
    text-align: center;
    margin:0;
    transition-duration: 0.3s;
}

.social-circle i {
    color: #ffffff;
}

/* Other classes */
.navbar-yellow {
    background-color: #F8D76E;
    font-weight: bold;
}

.bg-blue {
    background-color: #5DBCD2;
}

.row-imgs {
   height: 200px;
}

/* IDs */
#login-button {
    border-style: solid;
    border-width: 5px;
    border-color: #F8D76E #F8D76E #F8D76E #5DBCD2;
    padding: 3px;
}

/* Media conditions */
@media screen and (max-width: 600px) {
    .navbar {
        min-height: 100px;
        font-size: 16px;
    }

    .nav-text:after {
        height: 0;
    }

    .nav-item {
        padding: 5px 0;
    }

    #login-button {
        border-width: 0;
        padding: 5px 0;
    }
}
