{% extends 'registration/generic.html' %}

{% load static %}
{% block title %} Criar uma conta {% endblock %}

{% block content %}
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-3 col-sm-3">
                <form method="POST" class="form-group" novalidate>
                    {% csrf_token %}
                    {% for field in form %}
                        {{ field.label }} {{ field }}
                        <div class="text-danger">
                            {% for error in field.errors %}
                                <span>{{ error | escape }}</span>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <span class="text-danger"> {{ error }} </span>
                    {% endfor %}
                    <button type="submit" name="volunteer" class="btn btn-warning float-left">Registar como voluntário</button>
                    <button type="submit" name="organization" class="btn btn-danger float-right">Registar como organização</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}