{% extends 'base/generic.html' %}

{% load static %}
{% block title %} Criar uma conta {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <br>
    <div class="container bg-white">
        <form method="POST" class="form-group" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" name="volunteer" class="btn btn-warning float-left">Registar como voluntário</button>
            <button type="submit" name="organization" class="btn btn-danger float-right">Registar como organização</button>
        </form>
    </div>
{% endblock %}