/* Imports */
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

/* Variables */
:root {
    --main-blue-color: #3A67B9;
    --main-yellow-color: #F3AE3A;
}

/* Basic HTML Tags */
body {
    font-family: 'Lato', sans-serif !important;
}

h1 {
    color: white;
    font-family: paralucent-stencil, sans-serif;
    font-weight: bold !important;
    margin: 15px !important;
    text-transform: uppercase;
}

h2 {
    font-family: paralucent-stencil, sans-serif;
}

footer {
    padding: 15px 0;
}

/* Bootstrap classes */
.img-fluid {
    width: 100% !important;
    height: 100% !important;
}

.navbar {
    font-family: paralucent-stencil, sans-serif;
    min-height: 100px;
    font-size: 28px;
}

.nav-item {
    padding: 15px;
}

.nav-text {
    color: white !important;
    font-weight: bold !important;
    letter-spacing: 0.15em;
    display: inline-block;
    position: relative;
}

.nav-text:after {
    background: #fff;
    bottom: 0;
    content: "";
    display: block;
    left: 50%;
    height: 2px;
    position: absolute;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.nav-text:hover:after {
    width: 100%;
    left: 0;
}

/* Social Icons */
ul.social {
    display: inline;
    list-style: none;
    margin-left: 0;
    padding: 0;
}
ul.social li {
    display: inline;
    margin: 0 6px;
}

.facebook:hover {
    background-color: #3B5998;
}

.instagram:hover {
    background-color: #bd3799;
}

.social .facebook:hover i, .social .instagram:hover i {
    color: #afafaf;
}

.social-circle li a i {
    background-color: #afafaf;
    border-radius: 50%;
    display: inline-block;
    font-size:20px;
    height: 50px;
    text-align: center;
    margin: 0 auto 0 auto;
    position: relative;
    width: 50px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.social-circle li i {
    line-height:50px;
    text-align: center;
    margin:0;
    transition-duration: 0.3s;
}

.social-circle i {
    color: #ffffff;
}

/* Other classes */
.navbar-yellow {
    background-color: var(--main-yellow-color);
    font-weight: bold;
}

.bg-blue {
    background-color: var(--main-blue-color);
}

.bg-yellow {
    background-color: var(--main-yellow-color);
}

.row-images {
    padding: 0 !important;
    margin: 0 !important;
    height: 650px;
}

.col-images {
    padding: 0 !important;
    margin: 0 !important;
    height: 100%;
}

.choice-circle {
    border: var(--main-yellow-color) solid 5px;
    border-radius: 50%;
    background-color: var(--main-blue-color);
    color: white;
    display: inline-block;
    font-family: paralucent-stencil, sans-serif;
    font-size: 28px;
    font-weight: bold;
    height: 250px;
    padding: 75px 0 0 0;
    width: 250px;
}

.hand {
    height: 85px;
    width: 50px;
}

.footer-text {
    margin: 0;
    padding: 10px 0 0 0;
}

/* IDs */
#login-button {
    border-style: solid;
    border-width: 5px;
    border-color: var(--main-yellow-color) var(--main-yellow-color) var(--main-yellow-color) var(--main-blue-color);
    padding: 3px;
}

#choice-row {
    padding: 50px 0;
}

#logo {
    height: 150px;
    width: 150px;
}

/* Media conditions */
@media screen and (max-width: 1200px) {
    .row-images {
        height: 500px;
    }
}

@media screen and (max-width: 900px) {
    h1 {
        font-size: 28px !important;
    }
    .row-images {
        height: 400px;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 24px !important;
    }

    footer {
        height: 150px !important;
        font-size: 14px;
    }

    .social-circle {
        line-height: 25px !important;
    }

    .navbar {
        min-height: 50px;
        font-size: 16px;
    }

    .nav-text:after {
        height: 0;
    }

    .nav-item {
        padding: 5px 0;
    }

    .row-images {
        height: 200px;
    }

    .choice-circle {
        height: 150px;
        padding: 35px 0 0 0;
        font-size: 18px;
        width: 150px;
    }

    .footer-text {
        padding: 0 0 5px 0
    }

    #login-button {
        border-width: 0;
        padding: 5px 0;
    }
}

@media screen and (max-width: 400px) {
    .choice-circle {
        height: 125px;
        padding: 25px 0 0 0;
        font-size: 16px;
        width: 125px;
    }
}
