{% extends 'website/../base/generic.html' %}
{% load static %}

{% block content %}
    <!-- Navbar -->
	<nav class="navbar navbar-expand-lg navbar-light navbar-yellow">
		<a class="navbar-brand text-dark" href="{% url 'index' %}"><img src="{% static 'website/img/logo.png' %}" alt="Logo" id="logo"></a>

		<!-- Collapse Button-->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapse-items"
				aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
			<span class="text-white">Menu &nbsp<i class="fas fa-bars"></i></span>
		</button>

		<!-- Items -->
		<div class="collapse navbar-collapse" id="collapse-items">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link nav-text" href="{% url 'index' %}">Início</a>
				</li>
				<li class="nav-item">
					<a class="nav-link nav-text" href="#">Organizações</a>
				</li>
				<li class="nav-item">
					<a class="nav-link nav-text" href="#">Voluntários</a>
				</li>
				<li class="nav-item">
					<a class="nav-link nav-text" href="{% url 'login' %}" id="login-button">Login</a>
				</li>
			</ul>
		</div>
	</nav>

	<!-- Images -->
	<div class="container-fluid row-images">
		<div class="row row-images">
			<div class="col-4 col-images">
				<img src="{% static 'website/img/index1.jpg' %}" class="img-fluid" alt="Imagem 1">
			</div>
			<div class="col-4 col-images">
				<img src="{% static 'website/img/index2.jpg' %}" class="img-fluid" alt="Imagem 2">
			</div>
			<div class="col-4 col-images">
				<img src="{% static 'website/img/index3.jpg' %}" class="img-fluid" alt="Imagem 3">
			</div>
		</div>
	</div>

	<!-- It depends on you text -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12  bg-blue text-center">
				<h1>Depende &nbsp de &nbsp ti &nbsp ajudar</h1>
			</div>
		</div>
	</div>

	<!-- Choose volunteer or organization-->
	<div class="container-fluid">
		<div class="row bg-white" id="choice-row">
			<div class="col-6 text-center">
				<a href="#">
					<figure class="choice-circle">
						<figcaption >Organizações</figcaption>
						<img src="{% static 'website/img/hand.png' %}" alt="Hand pointing up" class="hand">
					</figure>
				</a>
			</div>
			<div class="col-6 text-center">
				<a href="#">
				<figure class="choice-circle">
					<figcaption >Voluntários</figcaption>
					<img src="{% static 'website/img/hand.png' %}" alt="Hand pointing up" class="hand">
				</figure>
				</a>
			</div>
		</div>
	</div>

    <!-- About us text -->
	<div class="container-fluid text-center bg-yellow">
        <br>
		<h2><u>Sobre nós</u></h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae urna mollis, tincidunt neque ac, dignissim nulla. Morbi gravida tortor felis, ut condimentum felis pharetra id. Etiam consectetur ex nulla, eu bibendum felis tincidunt eget. Proin tristique pharetra diam eu volutpat. Integer nisi sapien, congue non accumsan et, aliquam eu ante. Pellentesque ultrices volutpat ligula, vitae pellentesque orci aliquet id. Proin at lacinia quam. Donec feugiat consequat quam. Curabitur sit amet sem a ligula consequat dapibus. Nullam vitae ligula pulvinar, rutrum tortor id, viverra turpis. Duis in dapibus lectus. Aenean eu quam id ante facilisis ullamcorper et eu ipsum. Suspendisse potenti. Morbi vulputate libero ac turpis convallis, vitae vestibulum ligula congue. Integer ullamcorper lobortis laoreet. In porttitor a neque sed ullamcorper.</p>
			<p>ras posuere lectus eu massa eleifend laoreet. Duis varius porta neque at condimentum. Quisque pellentesque maximus lacus, in sagittis nisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi at nunc eu ligula ullamcorper ultrices. Sed eleifend sapien ornare orci feugiat interdum. Morbi non nisl et lacus eleifend porta in non eros. Phasellus tincidunt bibendum tellus, et malesuada orci venenatis nec. Quisque suscipit nulla at euismod tristique. Duis pulvinar hendrerit nunc, vitae bibendum felis lobortis vitae. Nunc a commodo neque. Donec sit amet varius ante, sed sagittis turpis. Integer quis condimentum mi, sed posuere eros. Etiam ultricies tempor velit quis malesuada. Morbi ac magna gravida, condimentum velit nec, dictum nisi.</p>
        <br>
    </div>

    <!-- Footer -->
	<footer class="bg-blue">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 text-center">
					<p class="footer-text">Copyright &copy; 2020 <span>Grow Up</span></p>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 text-center">
					<ul class="social social-circle">
						<li><a href="https://www.facebook.com/"><i class="fab fa-facebook-f facebook"></i></a></li>
						<li><a href="https://www.instagram.com/"><i class="fab fa-instagram instagram "></i></a></li>
					</ul>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 text-center">
					<p class="footer-text">growup@email.com</p>
				</div>
			</div>
		</div>
	</footer>
{% endblock %}