{% load static %}

<nav class="navbar navbar-expand-lg bg-warning">
    <a class="navbar-brand" href="{% url 'index' %}">
        <img src="{% static '/img/website/logo.png' %}" alt="Logo" class="logo">
    </a>

    <!-- Collapse Button-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapse-items"
            aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
        <span class="text-white">Menu &nbsp<i class="fas fa-bars"></i></span>
    </button>

    <!-- Items -->
    <div class="collapse navbar-collapse" id="collapse-items">
        <ul class="navbar-nav ml-auto" id="website-navbar">
            <li class="px-2">
                <a class="nav-link text-white" href="{% url 'index' %}">Início</a>
            </li>
            <li class="px-2">
                <a class="nav-link text-white" href="{% url 'organisation' %}">Organizações</a>
            </li>
            <li class="px-2">
                <a class="nav-link text-white" href="{% url 'volunteer' %}">Voluntários</a>
            </li>
            {% if user.is_authenticated %}
                <li class="px-2">
                    <a class="nav-link text-white" href="{% url 'dashboard' %}">Dashboard</a>
                </li>
                {% if user.is_staff %}
                    <li class="px-2">
                        <a class="nav-link text-white" href="{% url 'administration' %}">Administração</a>
                    </li>
                {% endif %}
            {% else %}
                <li class="px-2">
                    <a class="nav-link text-white" href="{% url 'login' %}" id="login-button">Login</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
