{% extends 'generic/base.html' %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block content %}
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">
                <a href="{% url 'index' %}">
                    <img src="{% static 'media/website/logo.png' %}" alt="logo" class="img-fluid mx-auto d-block">
                </a>
            </div>
            <div class="list-group list-group-flush">
                {% if not is_administration %}
                    <a href="{% url 'dashboard' %}" class="list-group-item list-group-item-action bg-light">Dashboard</a>
                    <a href="{% url 'activities' %}" class="list-group-item list-group-item-action bg-light">Atividades</a>
                    <a href="{% url 'reservations' %}" class="list-group-item list-group-item-action bg-light">Reservas</a>
                    <a href="{% url 'about_us' %}" class="list-group-item list-group-item-action bg-light">Sobre nós</a>
                    <a href="{% url 'profile' %}" class="list-group-item list-group-item-action bg-light">Perfil</a>
                {% else %}
                    <a href="{% url 'administration' %}" class="list-group-item list-group-item-action bg-light">Administração</a>
                    <a href="{% url 'manage_organisations' %}" class="list-group-item list-group-item-action bg-light">Aprovar organizações</a>
                {% endif %}
            </div>
        </div>

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <button class="btn btn-primary text-white" id="menu-toggle">
                    <i class="fas fa-align-justify"></i>
                </button>

                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>

                </ul>
            </nav>

            <div class="container-fluid">
                {% block container %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
{% endblock %}