{% extends 'generic/base.html' %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'datetimepicker/build/jquery.datetimepicker.min.css' %}">
{% endblock %}

{% block content %}
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="bg-warning" id="sidebar-wrapper">
            <div class="sidebar-heading">
                <a href="{% url 'index' %}">
                    <img src="{% static '/media/website/logo.png' %}" alt="logo" class="img-fluid mx-auto d-block">
                </a>
            </div>
            <div class="list-group list-group-flush">
                {% if not is_administration %}
                    <a href="{% url 'dashboard' %}"
                       class="list-group-item list-group-item-warning list-group-item-action text-white">Dashboard</a>
                    <a href="{% url 'activities' %}"
                       class="list-group-item list-group-item-warning list-group-item-action text-white">Atividades</a>
                    <a href="{% url 'reservations' %}"
                       class="list-group-item list-group-item-warning list-group-item-action text-white">Reservas</a>
                    <a href="{% url 'about_us' %}"
                       class="list-group-item list-group-item-warning list-group-item-action text-white">Sobre nós</a>
                    <a href="{% url 'profile' %}"
                       class="list-group-item list-group-item-warning list-group-item-action text-white">Perfil</a>
                {% else %}
                    <a href="{% url 'administration' %}"
                       class="list-group-item list-group-item-warning list-group-item-action text-white">Administração</a>
                    <a href="{% url 'manage_organisations' %}"
                       class="list-group-item list-group-item-warning list-group-item-action text-white">Aprovar
                        organizações</a>
                {% endif %}
            </div>
        </div>

        <!-- Page Content -->
        <div id="page-content-wrapper" class="bg-light">
            <nav class="navbar navbar-expand-lg navbar-light bg-primary border-bottom">
                <button class="btn btn-light text-black" id="menu-toggle">
                    <i class="fas fa-align-justify"></i>
                </button>
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link text-white" href="{% url 'logout' %}">Logout</a>
                    </li>
                </ul>
            </nav>

            <div class="p-3">
                {% block container %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <!-- Date picker -->
    <script src="{% static 'datetimepicker/build/jquery.datetimepicker.full.min.js' %}"></script>
    <!-- Menu Toggle Script -->
    <script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}