{% extends 'generic/base.html' %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'datetimepicker/build/jquery.datetimepicker.min.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"/>
{% endblock %}

{% block content %}
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="bg-warning" id="sidebar-wrapper">
            <div class="sidebar-heading">
                <a href="{% url 'index' %}">
                    <img src="{% static '/img/website/logo.png' %}" alt="logo" class="img-fluid mx-auto d-block">
                </a>
            </div>
            <div class="list-group list-group-flush">
                {% if not is_administration %}
                    <a href="{% url 'dashboard' %}"
                       class="list-group-item list-group-item-warning list-group-item-action text-white">Dashboard</a>
                    <a href="{% url 'about_us' %}"
                       class="list-group-item list-group-item-warning list-group-item-action text-white">Sobre nós</a>
                    <a href="{% url 'profile' %}"
                       class="list-group-item list-group-item-warning list-group-item-action text-white">Perfil</a>
                {% else %}
                    <a href="{% url 'administration' %}"
                       class="list-group-item list-group-item-warning list-group-item-action text-white">Administração</a>
                    <a href="{% url 'manage_organisations' %}"
                       class="list-group-item list-group-item-warning list-group-item-action text-white">Aprovar
                        organizações</a>
                {% endif %}
            </div>
        </div>

        <!-- Page Content -->
        <div id="page-content-wrapper" class="bg-light">
            <nav class="navbar navbar-expand-lg navbar-light bg-primary border-bottom">
                <button class="btn btn-light text-black" id="menu-toggle">
                    <i class="fas fa-align-justify"></i>
                </button>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="{% url 'dashboard' %}" class="nav-link text-white">Dashboard</a>
                    </li>
                     <li class="nav-item">
                        <a href="{% url 'events' %}" class="nav-link text-white">Eventos</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a href="{% url 'logout' %}" class="nav-link text-white">Logout</a>
                    </li>
                </ul>
            </nav>

            <div class="p-3">
                {% block container %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <!-- Date picker -->
    <script src="{% static 'datetimepicker/build/jquery.datetimepicker.full.min.js' %}"></script>
    <!-- Scripts overriding package settings -->
    <script src="{% static 'js/datetimepicker.js' %}"></script>
    <!-- Other settings -->
    <script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}