{% load static %}
<nav id="sidebar">
    <div class="sidebar-header text-center">
        <a href="{% url 'index' %}">
            <img src="{% static 'media/website/logo.png' %}" alt="logo" id="logo">
        </a>
    </div>
    <ul class="list-unstyled components">
        <li>
            <a href="{% url 'dashboard' %}">Dashboard</a>
        </li>
         <li>
            <a href="#">Atividades</a>
        </li>
         <li>
            <a href="#">Reservas</a>
        </li>
           <li>
            <a href="#">Sobre nós</a>
        </li>
        <li>
            <a href="{% url 'profile' %}">Perfil</a>
        </li>
    </ul>
</nav>