{% extends 'generic/generic_staff.html' %}
{% load static %}

{% block content %}
    <br>
    <div class="row">
        <div class="offset-3 col-6 bg-gray text-center">
            <h1>Hello</h1>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Nome da organização</th>
                            <th scope="col">Documento 1</th>
                            <th scope="col">Documento 2</th>
                            <th scope="col">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for organisation in organisations.all %}
                            <tr>
                                <td>{{ organisation.organisation_name }}</td>
                                <td><a href="#">Vazio</a></td>
                                <td><a href="#">Vazio</a></td>
                                <td>
                                    <a href="{% url 'accept_organisation' organisation.id %}" class="btn btn-success">Aceitar</a>
                                    <a href="{% url 'decline_organisation' organisation.id %}" class="btn btn-danger">Recusar</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}