@import "stylesheet.scss";

html {
	height: 100%;
}

body {
	display: flex;
	flex-flow: column nowrap;
	margin: 0;
	min-height: 100%;
}

li {
	list-style: none;
}

.checkboxes {
	padding-left: 0;
	padding-top: 8px;
	margin-bottom: 0;
}

.profile-box {
	border: rgba(125, 123, 126, 0.51) solid 2px;
	padding: 5px;
	border-radius: 12px;
}

.text-danger {
	color: #ff0006 !important;
}

.form-done {
	width: 100%;
	max-width: 500px;
	padding: 10px;
	margin: 0 auto;
	border-radius: 25px;
}

#body-login {
	background-image: url("/static/media/website/login-background.png");
	background-size: cover;
	overflow: auto;
}


#logo {
	height: 100px !important;
	width: 100px !important;
}

@media screen and (max-width: 600px) {
	h3 {
		font-size: 18px !important;
	}

	p, label, span {
		font-size: 13px !important;
	}
}
