@import url("https://fonts.googleapis.com/css?family=Allerta+Stencil&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
html, body {
  font-family: "Lato", sans-serif;
  margin: 0;
  height: 100%; }

input[type=file] {
  cursor: pointer; }

.btn-primary {
  background-color: #3a67b9 !important; }
  .btn-primary:hover {
    background-color: #4b87eb !important; }
  .btn-primary:active {
    background-color: #5193ff !important; }

.btn-warning {
  background-color: #F3AE3A; }
  .btn-warning:hover {
    background-color: #ffb73d; }

.bg-light {
  background-color: #f3f3f3; }

.bg-primary {
  background-color: #3a67b9 !important; }

.bg-warning {
  background-color: #F3AE3A !important; }

.font-header {
  font-family: "Allerta Stencil", sans-serif; }

.list-group-item-warning {
  background-color: #F3AE3A !important; }
  .list-group-item-warning:hover {
    background-color: #dd9c36 !important; }
  .list-group-item-warning:active {
    background-color: #d39335 !important; }

.custom-file-label::after {
  content: "Pesquisar"; }

.navbar {
  font-size: 20px; }

html, body {
  height: 100%;
  position: relative; }

li {
  list-style: none; }

.checkboxes {
  padding-left: 0;
  padding-top: 8px;
  margin-bottom: 0; }

.profile-box {
  border: rgba(125, 123, 126, 0.51) solid 2px;
  padding: 5px;
  border-radius: 8px; }

.text-danger {
  color: #ff0006 !important; }

.form-done {
  width: 100%;
  max-width: 500px;
  padding: 10px;
  margin: 0 auto;
  border-radius: 25px; }

#auth-container {
  background-image: url("/static/img/website/login-background.png") !important;
  background-size: cover;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  min-height: 100% !important;
  overflow: auto; }

#form-signin {
  max-width: 400px;
  padding: 10px;
  margin: 0 auto;
  width: 100%; }

#organisation-form {
  max-width: 500px; }

#logo {
  height: 100px !important;
  width: 100px !important; }
