@empty: "";
@color-blue: #3A67B9;
@color-yellow: #F3AE3A;
@color-white: #FFFFFF;
@color-green: #009933;
@font-base: 'Lato', sans-serif;
@font-header: paralucent-stencil, sans-serif;


#logo {
    height: 150px !important;
    width: 150px !important;
}

#login-button {
    border-style: solid;
    border-width: 5px;
    border-color: @color-yellow @color-yellow @color-yellow @color-blue;
    padding: 3px;
}

.bg-yellow {
    background-color: @color-yellow
}

