@import url("https://fonts.googleapis.com/css?family=Allerta+Stencil&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
html, body {
  font-family: "Lato", sans-serif;
  margin: 0;
  height: 100%; }

input[type=file] {
  cursor: pointer; }

.btn-primary {
  background-color: #3a67b9 !important; }
  .btn-primary:hover {
    background-color: #4b87eb !important; }
  .btn-primary:active {
    background-color: #5193ff !important; }

.btn-warning {
  background-color: #F3AE3A; }
  .btn-warning:hover {
    background-color: #ffb73d; }

.bg-light {
  background-color: #f3f3f3; }

.bg-primary {
  background-color: #3a67b9 !important; }

.bg-warning {
  background-color: #F3AE3A !important; }

.font-header {
  font-family: "Allerta Stencil", sans-serif; }

.list-group-item-warning {
  background-color: #F3AE3A !important; }
  .list-group-item-warning:hover {
    background-color: #dd9c36 !important; }
  .list-group-item-warning:active {
    background-color: #d39335 !important; }

.custom-file-label::after {
  content: "Pesquisar"; }

.navbar {
  font-size: 20px; }

body {
  overflow-x: hidden; }

ul.custom-checkboxes {
  list-style: none;
  padding: 20px; }

ul.custom-checkboxes li {
  display: inline; }

ul.custom-checkboxes li label {
  text-align: center;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.9);
  border: 2px solid rgba(139, 139, 139, 0.3);
  color: #adadad;
  border-radius: 25px;
  white-space: nowrap;
  margin: 3px 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  transition: all .2s;
  padding: 8px 12px;
  cursor: pointer; }

ul.custom-checkboxes li label::before {
  text-align: center;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-weight: 900;
  font-size: 12px;
  padding: 2px 6px 2px 2px;
  transition: transform .3s ease-in-out; }

ul.custom-checkboxes li input[type="checkbox"]:checked + label::before {
  transform: rotate(-360deg);
  transition: transform .3s ease-in-out; }

ul.custom-checkboxes li input[type="checkbox"]:checked + label {
  border: 2px solid #1bdbf8;
  background-color: #12bbd4;
  color: #fff;
  transition: all .2s; }

ul.custom-checkboxes li input[type="checkbox"] {
  position: absolute; }

ul.custom-checkboxes li input[type="checkbox"] {
  position: absolute;
  opacity: 0; }

ul.custom-checkboxes li input[type="checkbox"]:focus + label {
  border: 2px solid #e9a1ff; }

.nav-link:hover {
  background-color: #4b87eb !important; }

.nav-link:active {
  background-color: #5193ff !important; }

#sidebar-wrapper {
  min-height: 100vh;
  max-width: 15rem;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out; }

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem; }

#sidebar-wrapper .list-group {
  width: 15rem; }

#page-content-wrapper {
  min-width: 100vw; }

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0; }

#alter-form li {
  list-style: none; }

#alter-form ul {
  margin-top: 10px;
  padding-left: 0; }

#menu-toggle {
  display: none; }

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0; }
  #page-content-wrapper {
    min-width: 0;
    width: 100%; }
  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem; } }

@media (max-width: 768px) {
  #menu-toggle {
    display: block; } }
