@import "common";

html, body {
  height: 100%;
}

body {
	height: 100%;
	overflow: hidden;
}

a {
	text-decoration: none !important;
}

.navbar {
    .font-header();
    .font-size(28px);
}

.navbar-yellow {
    background-color: @color-yellow;
    font-weight: bold;
}


#logo {
    height: 100px !important;
    width: 100px !important;
}

