@import "stylesheet.scss";

body {
	overflow-x: hidden;
}

ul.custom-checkboxes {
	padding: 0;
	list-style: none;
}

ul.custom-checkboxes li {
	display: inline;
}

ul.custom-checkboxes li label {
	text-align: center;
	display: inline-block;
	background-color: $color-gray;
	border: 2px solid $color-yellow;
	border-radius: 25px;
	white-space: nowrap;
	margin: 3px 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	transition: all .2s;
	padding: 8px 12px;
	cursor: pointer;

	&:hover {
		background-color: #f3f3f3;
	}

	&:active {
		background-color: #e0e0e0;
	}

}

ul.custom-checkboxes li label::before {
	text-align: center;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	font-weight: 900;
	font-size: 12px;
	padding: 2px 6px 2px 2px;
	transition: transform .3s ease-in-out;
}

ul.custom-checkboxes li input[type="checkbox"]:checked + label::before {
	transform: rotate(-360deg);
	transition: transform .3s ease-in-out;
}

ul.custom-checkboxes li input[type="checkbox"]:checked + label {
	border: 2px solid $color-yellow;
	background-color: $color-blue;
	color: #ffffff;
	transition: all .1s;

	&:hover {
		background-color: #4b87eb;
	}

	&:active {
		background-color: #5193ff;
	}
}

ul.custom-checkboxes li input[type="checkbox"] {
	position: absolute;
}

ul.custom-checkboxes li input[type="checkbox"] {
	position: absolute;
	opacity: 0;
}

.nav-link {
	&:hover {
		background-color: #4b87eb !important;
	}

	&:active {
		background-color: #5193ff !important;
	}
}

#sidebar-wrapper {
	min-height: 100vh;
	max-width: 15rem;
	margin-left: -15rem;
	-webkit-transition: margin .25s ease-out;
	-moz-transition: margin .25s ease-out;
	-o-transition: margin .25s ease-out;
	transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
	padding: 0.875rem 1.25rem;
}

#sidebar-wrapper .list-group {
	width: 15rem;
}

#page-content-wrapper {
	min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
	margin-left: 0;
}

#alter-form li {
	list-style: none;
}

#alter-form ul {
	margin-top: 10px;
	padding-left: 0;
}

#menu-toggle {
	display: none;
}

@media (min-width: 768px) {
	#sidebar-wrapper {
		margin-left: 0;
	}

	#page-content-wrapper {
		min-width: 0;
		width: 100%;
	}

	#wrapper.toggled #sidebar-wrapper {
		margin-left: -15rem;
	}
}

@media (max-width: 768px) {
	#menu-toggle {
		display: block;
	}
}
