@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

$color-blue: #3a67b9;
$color-yellow: #F3AE3A;
$color-white: #FFFFFF;
$color-green: #009933;
$font-base: 'Lato', sans-serif;
$font-header: 'Allerta Stencil', sans-serif;

html, body {
    font-family: $font-base;
  	margin: 0;
  	height: percentage(1);
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-header;
}



input[type=file] {
	cursor: pointer;
}

.btn-primary {
	background-color: $color-blue !important;

	&:hover {
		background-color: #4b87eb !important;
	}

	&:active {
		background-color: #5193ff !important;
	}
}

.btn-warning {
	background-color: $color-yellow;

	&:hover {
		background-color: #ffb73d;
	}

}

.bg-light {
	background-color: #f3f3f3;
}

.bg-primary {
	background-color: $color-blue !important;
}

.bg-warning {
	background-color: $color-yellow !important;
}

.list-group-item-warning {
	background-color: $color-yellow !important;

	&:hover {
		background-color: #dd9c36 !important;
	}

	&:active {
		background-color: #d39335 !important;
	}
}

.custom-file-label::after {
    content: "Pesquisar";
}


.navbar {
	font-size: 20px;
}

.nav-link {
	letter-spacing: 0.1em;
	position: relative;
	font-family: $font-header;
	&:after {
		background: $color-white;
		bottom: 0;
		content: "";
		display: block;
		left: percentage(0.5);
		height: 2px;
		position: absolute;
		transition: width 0.3s ease 0s, left 0.3s ease 0s;
		width: 0;
	}
	&:hover {
		&:after {
			width: percentage(1);
			left: 0;
		}
	}
}

