$color-blue: #3a67b9;
$color-yellow: #F3AE3A;
$color-white: #FFFFFF;
$color-green: #009933;
$font-base: 'Lato', sans-serif;
$font-header: paralucent-stencil, sans-serif;


input[type=file] {
	cursor: pointer;
}

.btn-primary {
	background-color: $color-blue !important;

	&:hover {
		background-color: #4b87eb !important;
	}

	&:active {
		background-color: #5193ff !important;
	}
}

.btn-warning {
	background-color: $color-yellow;

	&:hover {
		background-color: #ffb73d;
	}

}

.bg-light {
	background-color: #f3f3f3;
}

.bg-primary {
	background-color: $color-blue !important;
}

.bg-warning {
	background-color: $color-yellow !important;
}

.list-group-item-warning {
	background-color: $color-yellow !important;

	&:hover {
		background-color: #dd9c36 !important;
	}

	&:active {
		background-color: #d39335 !important;
	}
}


.custom-file-label::after {
    content: "Pesquisar";
}

