/* Imports */
@import url("https://fonts.googleapis.com/css?family=Allerta+Stencil&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
html, body {
  font-family: "Lato", sans-serif;
  margin: 0;
  height: 100%; }

input[type=file] {
  cursor: pointer; }

.btn-primary {
  background-color: #3a67b9 !important; }
  .btn-primary:hover {
    background-color: #4b87eb !important; }
  .btn-primary:active {
    background-color: #5193ff !important; }

.btn-warning {
  background-color: #F3AE3A; }
  .btn-warning:hover {
    background-color: #ffb73d; }

.bg-light {
  background-color: #f3f3f3; }

.bg-primary {
  background-color: #3a67b9 !important; }

.bg-warning {
  background-color: #F3AE3A !important; }

.font-header {
  font-family: "Allerta Stencil", sans-serif; }

.list-group-item-warning {
  background-color: #F3AE3A !important; }
  .list-group-item-warning:hover {
    background-color: #dd9c36 !important; }
  .list-group-item-warning:active {
    background-color: #d39335 !important; }

.custom-file-label::after {
  content: "Pesquisar"; }

.navbar {
  font-size: 20px; }

h1, h2 {
  font-family: "Allerta Stencil", sans-serif; }

ul.social {
  display: inline;
  list-style: none;
  margin-left: 0;
  padding: 0; }
  ul.social li {
    display: inline;
    margin: 0 6px; }

.facebook:hover {
  background-color: #3B5998; }

.instagram:hover {
  background-color: #bd3799; }

.social .facebook:hover i {
  color: #afafaf; }

.social .instagram:hover i {
  color: #afafaf; }

.social-circle li a i {
  background-color: #afafaf;
  border-radius: 50%;
  display: inline-block;
  font-size: 20px;
  height: 50px;
  text-align: center;
  margin: 0 auto 0 auto;
  position: relative;
  width: 50px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%; }

.social-circle li i {
  line-height: 50px;
  text-align: center;
  margin: 0;
  transition-duration: 0.3s; }

.social-circle i {
  color: #ffffff; }

.choice-circle {
  border: #F3AE3A solid 5px;
  border-radius: 50%;
  background-color: #3a67b9;
  display: inline-block;
  height: 250px;
  margin: 0;
  padding: 40px 0 0 0;
  width: 250px; }

.choice-text {
  font-family: "Allerta Stencil", sans-serif;
  font-size: 22px; }

.hand {
  height: 85px;
  width: 50px; }

.footer-text {
  margin: 0;
  padding: 10px 0 0 0; }

.logo {
  height: 100px;
  width: 100px; }

/* IDs */
#login-box {
  height: 300px;
  position: relative;
  margin: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

#login-button {
  border-style: solid;
  border-width: 5px;
  border-color: #F3AE3A #F3AE3A #F3AE3A #3a67b9;
  padding: 3px; }

#website-navbar .nav-link {
  position: relative;
  font-size: 24px;
  font-family: "Allerta Stencil", sans-serif; }
  #website-navbar .nav-link:after {
    background: #FFFFFF;
    bottom: 0;
    content: "";
    display: block;
    left: 50%;
    height: 2px;
    position: absolute;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0; }
  #website-navbar .nav-link:hover:after {
    width: 100%;
    left: 0; }
