/* Imports */
@import "stylesheet.scss";

ul.social {
	display: inline;
	list-style: none;
	margin-left: 0;
	padding: 0;
	li {
		display: inline;
		margin: 0 6px;
	}
}
.facebook {
	&:hover {
		background-color: #3B5998;
	}
}
.instagram {
	&:hover {
		background-color: #bd3799;
	}
}
.social {
	.facebook {
		&:hover {
			i {
				color: #afafaf;
			}
		}
	}
	.instagram {
		&:hover {
			i {
				color: #afafaf;
			}
		}
	}
}
.social-circle {
	li {
		a {
			i {
				background-color: #afafaf;
				border-radius: percentage(0.5);
				display: inline-block;
				font-size: 20px;
				height: 50px;
				text-align: center;
				margin: 0 auto 0 auto;
				position: relative;
				width: 50px;
				-moz-border-radius: 50%;
				-webkit-border-radius: 50%;
			}
		}
		i {
			line-height: 50px;
			text-align: center;
			margin: 0;
			transition-duration: 0.3s;
		}
	}
	i {
		color: #ffffff;
	}
}

.choice-circle {
    border: $color-yellow solid 5px;
    border-radius: 50%;
    background-color: $color-blue;
    display: inline-block;
    height: 250px;
	margin: 0;
    padding: 40px 0 0 0;
    width: 250px;
}

.choice-text {
	font-family: $font-header;
	font-size: 22px;
}

.hand {
    height: 85px;
    width: 50px;
}

.footer-text {
    margin: 0;
    padding: 10px 0 0 0;
}


.logo {
    height: 100px;
    width: 100px;
}

/* IDs */

#login-box {
	height: 300px;
	position: relative;
  	margin: 0;
  	top: 50%;
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}

#login-button {
    border-style: solid;
    border-width: 5px;
    border-color: $color-yellow $color-yellow $color-yellow $color-blue;
    padding: 3px;
}

#website-navbar .nav-link {
	position: relative;
	font-size: 24px;
	font-family: $font-header;
	&:after {
		background: $color-white;
		bottom: 0;
		content: "";
		display: block;
		left: percentage(0.5);
		height: 2px;
		position: absolute;
		transition: width 0.3s ease 0s, left 0.3s ease 0s;
		width: 0;
	}
	&:hover {
		&:after {
			width: percentage(1);
			left: 0;
		}
	}
}
