{% extends 'generic/base.html' %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static '/css/authentication.css' %}">
{% endblock %}

{% block bodyid %}body-login{% endblock %}

{% block content %}
    <div id="auth-container">
        <form method="POST" class="text-center bg-light rounded-lg" id="form-signin" novalidate>
            {% csrf_token %}

            <a href="{% url 'index' %}">
                <img class="mb-4" src="{% static '/media/website/logo.png' %}" alt="Logo" width="72" height="72">
            </a>

            <h1 class="h3 mb-3 font-weight-normal">Login</h1>

            {% for error in form.non_field_errors %}
                <span class="text-danger float-left"> {{ error }}</span>
            {% endfor %}

            {% for error in form.username.errors %}
                <span class="text-danger float-left">{{ error | escape }}</span>
            {% endfor %}
            {{ form.username }}

            {% for error in form.password.errors %}
                <span class="text-danger float-left">{{ error | escape }}</span>
            {% endfor %}
            {{ form.password }}

            <div class="checkbox mb-2 float-left">
                <a href="{% url 'password_reset' %}">Esqueci me da password</a>
            </div>

            <button class="btn btn-lg btn-primary text-white btn-block mb-3" type="submit">Login</button>
            <div class="row mx-auto">
                 <a href="{% url 'register_organisation' %}" class="col-5 btn btn-primary text-white">Criar conta
                como organização</a>
                  <a href="{% url 'register_volunteer' %}" class="offset-2 col-5 btn btn-warning text-white">Criar conta
                como voluntário</a>
        </form>
            </div>


    </div>
{% endblock %}