{% extends 'generic/generic_authentication.html' %}
{% load static %}

{% block title %} Alterar password {% endblock %}

{% block content %}
    <form method="POST" class="form-signin bg-gray" novalidate>
        {% csrf_token %}

        <a href="{% url 'index' %}" >
            <img class="mb-4" src="{% static 'website/media/website/logo.png' %}" alt="Logo" width="72" height="72">
        </a>

        <h1 class="h3 mb-3 font-weight-normal">Alterar password</h1>

        {% for error in form.non_field_errors %}
             <span class="text-danger float-left"> {{ error }}</span>
        {% endfor %}

        {% for error in form.new_password1.errors %}
            <span class="text-danger float-left">{{ error | escape }}</span>
        {% endfor %}
        {{ form.new_password1 }}

        {% for error in form.new_password2.errors %}
            <span class="text-danger float-left">{{ error | escape }}</span>
        {% endfor %}
        {{ form.new_password2 }}

        <button class="btn btn-lg btn-primary text-white btn-block mb-3" type="submit">Alterar password</button>
    </form>
{% endblock %}