{% extends 'generic/base.html' %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static '/css/authentication.css' %}">
{% endblock %}

{% block bodyid %}body-login{% endblock %}

{% block content %}
    <div id="auth-container">
        <div class="text-center bg-light rounded-lg" id="form-signin">
            <h5 class="h5 mb-4">
                A sua password foi alterada com sucesso
            </h5>
            <a href="{% url 'login' %}" class="btn btn-primary">Fazer Login</a>
        </div>
    </div>
{% endblock content %}