{% extends 'generic/base.html' %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static '/css/authentication.css' %}">
{% endblock %}

{% block bodyid %}body-login{% endblock %}

{% block navbar %}
    {% include 'generic/navbar_authentication.html' %}
{% endblock %}

{% block content %}
    <div class="text-center container-center">
        <form method="POST" class="form-signin bg-gray" novalidate>
            {% csrf_token %}

            <a href="{% url 'index' %}" >
                <img class="mb-4" src="{% static '/media/website/logo.png' %}" alt="Logo" width="72" height="72">
            </a>

            <h1 class="h3 mb-3 font-weight-normal">Reset da password</h1>

            {% for error in form.non_field_errors %}
                 <span class="text-danger float-left"> {{ error }}</span>
            {% endfor %}

            {% for error in form.email.errors %}
                <span class="text-danger float-left">{{ error | escape }}</span>
            {% endfor %}
            {{ form.email }}


            <button class="btn btn-lg btn-primary text-white btn-block mb-1" type="submit">Reset</button>

        </form>
    </div>
{% endblock %}