{% extends 'generic/base.html' %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static '/css/authentication.css' %}">
{% endblock %}

{% block bodyid %}body-login{% endblock %}

{% block content %}
    <div id="auth-container">
        <form method="POST" class="text-center bg-light rounded-lg" id="form-signin" novalidate>
            {% csrf_token %}
            <a href="{% url 'index' %}">
                <img class="mb-4" src="{% static '/img/website/logo.png' %}" alt="Logo" width="72" height="72">
            </a>

            <h1 class="h3 mb-3 font-weight-normal">Alterar password</h1>

            {% for error in form.non_field_errors %}
                <span class="text-danger float-left"> {{ error }}</span>
            {% endfor %}

            {% for error in form.new_password1.errors %}
                <span class="text-danger float-left">{{ error | escape }}</span>
            {% endfor %}
            {{ form.new_password1 }}

            {% for error in form.new_password2.errors %}
                <span class="text-danger float-left">{{ error | escape }}</span>
            {% endfor %}
            {{ form.new_password2 }}

            <button class="btn btn-lg btn-primary text-white btn-block mb-3" type="submit">Alterar password</button>
        </form>
    </div>
{% endblock %}