{% extends 'generic/base.html' %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static '/css/authentication.css' %}">
{% endblock %}

{% block bodyid %}body-login{% endblock %}

{% block navbar %}
    {% include 'generic/navbar_authentication.html' %}
{% endblock %}

{% block content %}
    <div class="text-center container-center">
        <div class="row">
            <div class="bg-gray form-done">
                {% csrf_token %}
                <a href="{% url 'index' %}" >
                    <img class="mb-4" src="{% static '/media/website/logo.png' %}" alt="Logo" width="72" height="72">
                </a>

                <h5>Email confirmado!</h5>

                {% if org %}
                    <p>Como se trata de uma organização, a conta aguarda ainda a
                        aprovação por parte da administração da Grow Up</p>
                {% endif %}
                <br>
                <a href="{% url 'index' %}" class="btn btn-primary">
                    Ir para a página principal
                </a>
            </div>
        </div>
    </div>
{% endblock %}