{% extends 'generic/base.html' %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static '/css/authentication.css' %}">
{% endblock %}

{% block bodyid %}body-login{% endblock %}
{% block bodyclass %}body-login{% endblock %}

{% block navbar %}
    {% include 'generic/navbar_authentication.html' %}
{% endblock %}

{% block content %}
    <br>
    <div class="container">
        <div class="row">
            <form method="POST" class="offset-3 col-6 bg-gray" style="border-radius: 25px !important;" novalidate>
                {% csrf_token %}
                <br>
                <div class="text-center">
                    <a class="" href="{% url 'index' %}">
                        <img class="mb-4 " src="{% static '/media/website/logo.png' %}" alt="Logo" width="72" height="72">
                    </a>
                </div>
                <h3 class="h3 mb-3 font-weight-normal text-center">Criar perfil da organização</h3>
                <hr>
                <h5>Insira as seguintes informações relativas à organização</h5>
                <hr>
                <input type="hidden" name="user_id" value="{{ uid }}">
                {% for error in form.non_field_errors %}
                    <span class="text-danger float-left"> {{ error }} </span>
                {% endfor %}

                {% for field in form %}
                    <div class="profile-box">
                        <label>{{ field.label }}</label>
                        {{ field }}
                        {% for error in field.errors %}
                            <span class="text-danger"><b>{{ error }}</b></span>
                        {% endfor %}
                    </div>
                    <br>
                {% endfor %}
                <button class="btn btn-lg btn-blue text-white btn-block mb-2" type="submit">Submeter</button>
            </form>
        </div>
    </div>
    <br>
{% endblock %}