{% extends 'generic/base.html' %}
{% load static %}
{% load i18n %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static '/css/authentication.css' %}">
{% endblock %}

{% block bodyid %}body-login{% endblock %}

{% block content %}
    <div id="auth-container">
        <form method="POST" class="bg-light rounded-lg" id="form-signin" novalidate>
            {% csrf_token %}
            <div class="text-center">
                <a class="" href="{% url 'index' %}">
                    <img class="mb-4 " src="{% static '/img/website/logo.png' %}" alt="Logo" width="72" height="72">
                </a>
            </div>
            <h3 class="h3 mb-3 font-weight-normal text-center">Criar uma conta de {{ msg }}</h3>

            <hr>
            <p>{{ message }}</p>

            {{ wizard.management_form }}
            {% if wizard.form.forms %}
                {{ wizard.form.management_form }}
                {% for form in wizard.form.forms %}
                    {% for error in form.non_field_errors %}
                        <span class="text-danger float-left"> {{ error }} </span>
                    {% endfor %}
                    {% for field in form %}
                        <div class="text-danger float-left">
                            {% for error in field.errors %}
                                <span>{{ error | escape }}</span>
                            {% endfor %}
                        </div>
                        {{ field }}
                    {% endfor %}
                {% endfor %}
            {% else %}
                {% for error in wizard.form.non_field_errors %}
                    <span class="text-danger float-left"> {{ error }} </span>
                {% endfor %}
                {% for field in wizard.form %}
                        <div class="text-danger float-left">
                            {% for error in field.errors %}
                                <span>{{ error | escape }}</span>
                            {% endfor %}
                        </div>
                        {{ field.label }}
                        {{ field }}
                {% endfor %}
            {% endif %}

            {% if type == 'organisation' %}
                <button class="btn btn-lg btn-primary text-white btn-block" type="submit">Próximo passo</button>
            {% elif type == 'volunteer' %}
                <button class="btn btn-lg btn-warning text-white btn-block" type="submit">Próximo passo</button>
            {% endif %}
        </form>
    </div>
{% endblock %}