{% extends 'generic/base.html' %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static '/css/authentication.css' %}">
{% endblock %}


{% block content %}
    <form method="POST" class="bg-light my-3 p-2 rounded-lg mx-auto" novalidate id="organisation-form">
        {% csrf_token %}
        <br>
        <div class="text-center">
            <a class="" href="{% url 'index' %}">
                <img src="{% static '/img/website/logo.png' %}" alt="Logo" width="72" height="72">
            </a>
        </div>
        <hr>
        <h5 class="text-center h5">Preencha as seguintes informações relativas à organização</h5>
        <hr>
        <input type="hidden" name="user_id" value="{{ uid }}">
        {% for error in form.non_field_errors %}
            <span class="text-danger float-left"> {{ error }} </span>
        {% endfor %}

        {% for field in form %}
            <label>{{ field.label }}</label>
            <div class="profile-box">
                {{ field }}
                {% for error in field.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            <br>
        {% endfor %}
        <button class="btn btn-lg btn-primary text-white btn-block mb-2" type="submit">Submeter</button>
    </form>
{% endblock %}