{% extends 'generic/base/dashboard.html' %}
{% load static %}

{% block navbar %}
    {% include 'generic/navbar/dashboard.html'%}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 px-4">
                {% if region and events.object_list %}
                    <h3>Eventos futuros na região: {{ region }}</h3>
                {% elif events.object_list %}
                    <h3>Eventos futuros em todas as regiões</h3>
                {% elif not events.ob == 0ject_list and region %}
                    <h3 class="text-danger">Não existem eventos disponíveis da região {{region}}</h3>
                {% else %}
                    <p>{{ events.count }}</p>
                    <h3 class="text-danger">Não existem eventos disponíveis</h3>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <ul class="col-8 px-4 list-group">
                {% for event in events %}
                    <li class="list-group-item list-group-item-action">
                        {% if event.image %}
                            <img src="{{ event.image }}" class="float-left mr-3" alt="Fotografia do evento" width="150"
                                height="150">
                        {% else %}
                            <img src="{% static 'img/website/logo.png' %}" class="float-left mr-3"
                                alt="Fotografia do evento" width="150" height="150">
                        {% endif %}
                        <h5>{{ event.title }}</h5> 
                        <span><b>Descrição - </b>{{ event.description }}</span>
                        <hr>
                        <span><b>Inicio - </b> {{ event.start }}</span><br/>
                        <span><b>Fim - </b> {{ event.end }}</span>
                        <a class="btn  btn-primary float-right" href="{% url 'event' id=event.id %}">Detalhes</a>
                    </li>
                {% endfor %}
               
                {% if events.has_other_pages %}
                    <ul class="pagination">
                        {% if events.has_previous %}
                            <li  class="page-item"><a href="?page={{ events.previous_page_number }}" class="page-link"><</a></li>
                        {% else %}
                            <li class="disabled page-item"><span class="page-link disabled"><</span></li>
                        {% endif %}
                        {% for i in events.paginator.page_range %}
                            {% if events.number == i %}
                                <li class="page-item active"><span class="page-link active">{{ i }}</span></li>
                            {% else %}
                                <li  class="page-item"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if events.has_next %}
                            <li  class="page-item"><a href="?page={{ events.next_page_number }}" class="page-link">></a></li>
                        {% else %}
                            <li class="page-item disabled"><span class="page-link">></span></li>
                        {% endif %}
                      </ul>
                {% endif %}
            </ul>
            <div class="col-4">
                <div id="mapid" style="height: 500px;"></div>
                {% if region %}
                    <div class="py-3">
                        <a class="btn btn-primary" href="{% url 'browse_events' %}">Todas as regiões</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <!-- Leaflet -->
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="{% static 'js/leaflet.js' %}"></script>
{% endblock %}
