{% extends 'generic/base/dashboard.html' %}
{% load static %}

{% block navbar %}
    {% include 'generic/navbar/dashboard.html'%}
{% endblock %}

{% block content %}
    <div class="d-flex">
        <div class="col-4">
            <div id="mapid" style="height: 500px;"></div>
            {% if region %}
                <div class="py-3">
                    <a class="btn btn-primary" href="{% url 'browse_events' %}">Todas as regiões</a>
                </div>
            {% endif %}
        </div>
        <ul class="col-8 px-4 list-group">
            {% if region and events.count > 0 %}
                <h3>Eventos futuros na região: {{ region }}</h3>
            {% elif events.count > 0 %}
                <h3>Eventos futuros em todas as regiões</h3>
            {% elif events.count == 0 and region %}
                <h3 class="text-danger">Não existem eventos disponíveis da região {{region}}</h3>
            {% else %}
                <h3 class="text-danger">Não existem eventos disponíveis</h3>
            {% endif %}
            {% for event in events %}
                <li class="list-group-item list-group-item-action">
                    {% if event.image %}
                        <img src="{{ event.image }}" class="float-left mr-3" alt="Fotografia do evento" width="150"
                             height="150">
                    {% else %}
                        <img src="{% static 'img/website/logo.png' %}" class="float-left mr-3"
                             alt="Fotografia do evento" width="150" height="150">
                    {% endif %}
                    <h5>{{ event.title }}</h5> {{ event.description }}
                    <hr>
                    <div class="d-flex flex-row">
                        <div class="mr-auto">
                            <span><b>Inicio:</b> {{ event.start }}</span><br>
                            <span><b>Fim:</b> {{ event.end }}</span>
                        </div>
                        {% if not event in profile.events.all %}
                            <a class="btn btn-lg btn-primary float-right"
                                href="{% url 'attend_event' event_id=event.id %}">Criar reserva</a>
                        {% else %}
                            <a class="btn btn-lg btn-danger float-right"
                                href="{% url 'unattend_event' event_id=event.id %}">Desmarcar reserva</a>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block script %}
    <!-- Leaflet -->
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="{% static 'js/leaflet.js' %}"></script>
{% endblock %}
