{% extends 'generic/base_dashboard.html' %}
{% load static %}

{% block container %}
    <div class="d-inline-block mb-2 w-100">
        <a class="btn btn-primary float-left" href="{% url 'dashboard' %}?{{ previous_month }}">Anterior</a>
        <a class="btn btn-primary float-right" href="{% url 'dashboard' %}?{{ next_month }}">Próximo</a>
    </div>
    <br>
    {{ calendar }}
    <div id="mapid" style="height: 500px; width: 800px">

    </div>
    <div class="d-flex mt-2">
        {% if request.session.profile_type == 'organisation' %}
            <a href="{% url 'plan_event' %}" class="btn btn-warning">Marcar evento</a>
        {% endif %}
    </div>
{% endblock %}