{% extends 'generic/base/dashboard.html' %}
{% load static %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-primary border-bottom">
        <button class="btn btn-light text-black" id="menu-toggle">
            <i class="fas fa-align-justify"></i>
        </button>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="{% url 'manage_events' %}" class="nav-link text-white"><i class="fas fa-arrow-left"></i></a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a href="{% url 'logout' %}" class="nav-link text-white">Logout</a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
    <form method="POST" novalidate enctype="multipart/form-data" class="col-xl-5 col-lg-6 col-md-8 col-sm-8 col-10"
          id="alter-form">
         {% csrf_token %}
            <h3 class="text-center">Editar evento {{ form.title.value }}</h3>
            {% for error in form.non_field_errors %}
                <span class="text-danger float-left"> {{ error }} </span>
            {% endfor %}
            {% for field in form %}
                {% if field.name == 'image' %}
                    <label>{{ field.label }}</label>
                    <div class="custom-file mb-2">
                        <label for="{{ field.name }}" class="custom-file-label" id="file-label">Selecione a foto</label>
                        {{ field }}
                    </div>
                {% else %}
                    {{ field.label }}
                    {{ field }}
                {% endif %}
                <div class="text-danger">
                    {% for error in field.errors %}
                        <span class="float-left">{{ error | escape }}</span>
                        <br>
                    {% endfor %}
                </div>
                <hr>
            {% endfor %}
            <button class="btn btn-primary text-white btn-block" type="submit">Gravar alterações</button>
    </form>
</div>
{% endblock %}
