{% extends 'generic/base/dashboard.html' %}
{% load static %}

{% block navbar %}
    {% include 'generic/navbar/dashboard.html'%}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <ul class="col-8 px-4 list-group">
                {% for event in events %}
                    <li class="list-group-item list-group-item-action my-1 border">
                        {% if event.image %}
                            <img src="{{ event.image }}" class="float-left mr-3" alt="Fotografia do evento" width="150"
                                height="150">
                        {% else %}
                            <img src="{% static 'img/website/logo.png' %}" class="float-left mr-3"
                                alt="Fotografia do evento" width="150" height="150">
                        {% endif %}
                        <h5>{{ event.title }}</h5> 
                        <span><b>Descrição - </b>{{ event.description }}</span>
                        <hr>
                        <span><b>Inicio - </b> {{ event.start }}</span><br/>
                        <span><b>Fim - </b> {{ event.end }}</span>
                        <a class="btn btn-primary float-right" href="{% url 'event' id=event.id %}">Detalhes</a>
                    </li>
                {% endfor %}
            </ul>
            <div class="col-4">
                <a class="btn btn-primary" href="{% url 'plan_event' %}">Marcar evento</a>
            </div>
        </div>
    </div>
{% endblock %}