{% extends 'generic/base/dashboard.html' %}
{% load static %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-primary border-bottom">
        <button class="btn btn-light text-black" id="menu-toggle">
            <i class="fas fa-align-justify"></i>
        </button>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="{% url 'manage_events' %}" class="nav-link text-white"><i class="fas fa-arrow-left"></i></a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a href="{% url 'logout' %}" class="nav-link text-white">Logout</a>
            </li>
        </ul>
    </nav>
{% endblock %}


{% block content %}
    <div class="bg-white border rounded p-3 mb-3" style="min-height: 290px;">
        <img class="float-left border rounded mr-3" src={% static 'img/website/logo.png' %} style="height:250px; width: 250px;">
        <h1 class="h1">{{event.title}}</h1>
        <p><b>Descrição - </b>{{event.description}}</p>
        <hr/>
        <p><b>Início - </b> {{ event.start }} </p> 
        <p><b>Fim - </b> {{ event.end }} </p>
        <p><b>Região - </b> {{ event.location }}
        <p><b>Morada - </b> {{ event.address }} </p>
    </div>
    <a class="btn btn-primary" href="{% url 'edit_event' id=event.id %}">Editar detalhes</a>
    <a class="btn btn-danger float-right" href="{% url 'delete_event' id=event.id %}">Desmarcar evento</a>

{% endblock %}