{% extends 'generic/base_dashboard.html' %}
{% load static %}

{% block container %}
    <div class="row text-center">
    {% if is_volunteer %}
        <div class="col-3 bg-gray">
            <h5>Informações pessoais</h5>
        </div>
        <div class="col-3 bg-gray">
            <h5>Contacto</h5>
        </div>
        <div class="col-3 bg-gray">
            <h5>Outras informações</h5>
        </div>
        <div class="col-3 bg-gray">
            <h5>Foto de perfil</h5>
        </div>
    {% else %}
        <div class="col-4 bg-gray">
            <h5>Dados da organização</h5>
        </div>
        <div class="col-4 bg-gray">
            <h5>Contacto</h5>
        </div>
    {% endif %}
    </div>

    <div class="row text-black-50">
    {% if is_volunteer %}
        <div class="col-3 bg-grayer">
            <p>Nome: {{ profile.first_name }} {{ profile.middle_names }} {{ profile.last_name }}</p>
            <p>Sexo: {% if profile.gender %} feminino {% else %} masculino {% endif %}</p>
            <p>Data de nascimento: {{ profile.birth_date }}</p>
        </div>
        <div class="col-3 bg-grayer">
            <p>Número de telemovel: {% if profile.phone_number != 0 %} {{ profile.phone_number }} {% else %} indisponível {% endif %}</p>
            <p>Email: {{ profile.user.email }}</p>
        </div>
        <div class="col-3 bg-grayer">
            <p>Ocupação: {% if profile.occupation %} {{ profile.occupation }} {% else %} indisponível {% endif %}</p>
            <p>Localidade: {% if profile.location %} {{ profile.location }} {% else %} indisponível {% endif %}</p>
        </div>
        <div class="col-3 bg-grayer">
            {% if profile.image %}
                <img src="{{ profile.image.url }}" alt="Profile pic" style="height: 200px; width: 200px">
            {% endif %}
        </div>
    {% else %}
        <div class="col-4 bg-grayer">
            <p>Nome da organização: {{ profile.organisation_name }}</p>
            <p>Nome do representante: {{ profile.representative_name }}</p>
        </div>
        <div class="col-4 bg-grayer">
            <p>Email: {{ profile.user.email }}</p>
        </div>
    {% endif %}
    </div>
    <br>
    <div class="row">
        <a href="{% url 'edit_profile' %}" class="btn btn-primary">Editar perfil</a>
    </div>
{% endblock %}
