{% extends 'generic/base/dashboard.html' %}
{% load static %}

{% block navbar %}
    {% include 'generic/navbar/profile.html' %}
{% endblock %}

{% block content %}
    <div class="d-flex w-50 mb-2">
        <div class="d-flex mr-4">
            {% if profile.image %}
                <img src="{{ profile.image.url }}" alt="Profile pic" width="250" height="250">
            {% else %}
                <img src="{% static '/img/website/logo.png' %}" alt="placeholder" width="250" height="250">
            {% endif %}
        </div>
        <div class="d-flex flex-column">
            {% if profile_type == 'volunteer' %}
                <div>
                    <h5>Dados pessoais</h5>
                    <hr>
                    <p><b>Nome:</b> {{ profile.name }}</p>
                    <p><b>Sexo:</b> {% if profile.gender %} feminino {% else %} masculino {% endif %}</p>
                    <p><b>Data de nascimento:</b> {% if profile.birth_date %} {{ profile.birth_date }} {% else %}
                        <span class="text-danger">Indisponível</span>{% endif %}</p>
                </div>
                <div>
                    <h5>Contacto</h5>
                    <hr>
                    <p>
                        <b>Número de telemóvel:</b>
                        {% if profile.phone_number %}
                            {{ profile.phone_number }}
                        {% else %}
                            <span class="text-danger">Indisponível</span>
                        {% endif %}
                    </p>
                    <p><b>Email:</b> {{ profile.user.email }}</p>
                </div>
                <div>
                    <h5>Outras informações</h5>
                    <hr>
                    <p>
                        <b>Ocupação: </b>
                        {% if profile.occupation %}
                            {{ profile.occupation }}
                        {% else %}
                            <span class="text-danger">Indisponível</span>
                        {% endif %}
                    </p>
                    <p>
                        <b>Localidade:</b>
                        {% if profile.location %}
                            {{ profile.location }}
                        {% else %}
                            <span class="text-danger">Indisponível</span>
                        {% endif %}
                    </p>
                </div>
            {% else %}
                <div>
                    <h5>Dados da organização</h5>
                    <hr>
                    <p><b>Nome:</b> {{ profile.organisation_name }}</p>
                    <p><b>Representante:</b> {{ profile.representative_name }}</p>
                </div>
                <div>
                    <h5>Contacto</h5>
                    <hr>
                    <p><b>Email:</b> {{ profile.user.email }}</p>
                </div>
                <div>
                    <h5>Público alvo</h5>
                    <hr>
                    <ul class="pl-3">
                        {% for agerange in profile.age_range.values %}
                            <li>{{ agerange.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div>
                    <h5>Áreas de atuação</h5>
                    <hr>
                    <ul class="pl-3">
                        {% for type in profile.organisation_type.values %}
                            <li>{{ type.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>

    <a href="{% url 'edit_profile' %}" class="btn btn-lg btn-primary">Editar perfil</a>
{% endblock %}
