{% extends 'generic/base_dashboard.html' %}
{% load static %}

{% block container %}
    <div class="row">
        <div class="col-2">
            {% if profile.image == '' %}
                <img src="{% static 'media/website/logo.png' %}" alt="Foto de perfil" style="height: 100%; width: 100%">
            {% else %}
                <img src="{{ profile.image }}" alt="Foto de perfil">
            {% endif %}
        </div>
        <div class="col-3">
            {% if volunteer %}
            {% endif %}
        </div>
        <div class="col-3">
            {% if volunteer %}
                <p>Data de nascimento: {{ profile.birth_date }}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
